html {
  @media (max-width: 768px) {
    & {
      font-size: 12px;
    }
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  &:before {
    content: "";
    display: block;
    position: fixed;
    width: 110%;
    height: 100%;
    background-image: url('../public/images/theme-park.png');
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: contain;
    background-color: #efefef;
    filter: blur(15px) opacity(0.8);
    top: 0%;
    left: -5%;
  }
}

.page {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: clamp(300px, 60vh, 700px);
  width: min(600px, 90%);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(122, 122, 122, 0.7);
  background-color: #efefef;
  overflow-y: auto;
}

.page-inner {
  height: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

.footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  padding: .625em;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: .875rem;
  color: #ddd;
}